
.hajbw-brand{
  color: white !important;
}

.hajbw-brand:hover{
  color: #9d9d9d !important;
}

@media (min-width: 768px) {

  /*
    bugfix 4 edge
    I don't love Microsoft Edge any more:)
  */

  ul.navbar-nav li{
    display: none;
  }
}

nav.navbar + *{
  margin-top: 50px;
}


#content{
  height: 100vh;
}


footer{
  height: 100px;
  background-color: grey;
}
